# All trips starting and ending in cambridge (BigQuery)

In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
filepath_Replica_BQ = ".././02 Data/Replica/Trips/BigQuery/Cambridge/"
replica_bq_df = pd.read_json(filepath_Replica_BQ + 'bq-results-20220714-203648-1657831026743.json', lines=True)

In [3]:
drop_list=['person_id', 'household_id', 'mode','tour_type','timezone', 'transit_route_ids', 'network_link_ids']
replica_bq_df=replica_bq_df.drop(drop_list,axis=1)

In [8]:
replica_bq_df['start_time']= (replica_bq_df['start_time']).astype(str)
replica_bq_df['end_time']= (replica_bq_df['end_time']).astype(str)
replica_bq_df['start_time']= replica_bq_df['start_time'].str[11:19]
replica_bq_df['end_time']= replica_bq_df['end_time'].str[11:19]
replica_bq_df.head()

,activity_id,origin_lat,origin_lng,destination_lat,destination_lng,travel_purpose,previous_activity_type,start_time,start_local_hour,end_time,...,origin_building_use_l1,origin_building_use_l2,destination_land_use_l1,destination_land_use_l2,destination_building_use_l1,destination_building_use_l2,trip_type,vehicle_type,vehicle_fuel_type,vehicle_fuel_technology
0,1.562512e+19,42.378109,-71.121241,42.381197,-71.115348,HOME,MAINTENANCE,16:41:44,16,16:44:01,...,commercial,office,residential,single_family,residential,single_family,TRAVEL,NaN,NaN,NaN
1,2.852022e+18,42.365675,-71.103734,42.370953,-71.099050,HOME,EAT,20:47:25,20,20:49:21,...,commercial,retail,residential,multi_family,residential,multi_family,TRAVEL,NaN,NaN,NaN
2,7.878144e+18,42.382356,-71.116814,42.381976,-71.115456,HOME,SCHOOL,10:54:59,10,10:58:18,...,civic_institutional,education,residential,single_family,residential,single_family,TRAVEL,NaN,NaN,NaN
3,1.199069e+19,42.357996,-71.114939,42.369153,-71.099998,MAINTENANCE,EAT,12:02:07,12,12:09:00,...,commercial,retail,commercial,retail,commercial,retail,TRAVEL,NaN,NaN,NaN
4,7.281171e+17,42.374408,-71.110614,42.381181,-71.113130,HOME,SCHOOL,18:54:46,18,18:57:03,...,civic_institutional,education,residential,multi_family,residential,multi_family,TRAVEL,NaN,NaN,NaN

In [9]:
len(replica_bq_df)

100009

In [11]:
# Save the results
path=Path('.././02 Data/Replica/Trips/BigQuery/Cambridge/replica_cambridge_bq_df.csv')
replica_bq_df.to_csv(path,index=False)